<h2 [ngStyle]="stylevalue">{{headername | uppercase}}</h2>
<!--<h2 [style.color]="colorname" [style.font-size]="font">My Salary is {{salary | currency:'INR'}}</h2>-->

<h2 *ngIf="salary>100000" [ngClass]="classname">My Salary is {{salary | currency:'INR'}}</h2>
<br>

<button (click)="Functionclick('click here')">Click Me!</button>
<br>

<input [value]="isdisabled" [disabled]="isdisabled" #txt (change)="Functionclick(txt.value)">
<br>
<br>

<input [(ngModel)]="headername">

<ul>
<li *ngFor="let items of colors">{{items}}</li>

</ul>